/**************************************************************/
/* header title */
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:70rem;
  }
  .sub_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  }
  h1 {
    /* font-size: 5rem; */
    color: #000;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    cursor: pointer;
    
  }
  h1 > span {
   transition: 1s;
  }
   h1:hover > span {
    filter:blur(.2rem);
    opacity: 0;
    transform: scale(2);
   }
   h1 > span:nth-child(117n+1) {
    transition-delay: 0.1s;
   }
   h1 > span:nth-child(117n+2) {
    transition-delay: 0.3s;
   }
   h1 > span:nth-child(117n+3) {
    transition-delay: 0.5s;
   }
   h1 > span:nth-child(117n+4) {
    transition-delay: 0.7s;
   }
   h1 > span:nth-child(117n+5) {
    transition-delay: 0.9s;
   }
   h1 > span:nth-child(117n+6) {
    transition-delay: 1.1s;
   }
   h1 > span:nth-child(117n+7) {
    transition-delay: 1.3s;
   }
   h1 > span:nth-child(117n+8) {
    transition-delay: 1.5s;
   }
   h1 > span:nth-child(117n+8) {
    transition-delay: 1.7s;
   }
   h1 > span:nth-child(117n+9) {
    transition-delay: 1.9s;
   }
   h1 > span:nth-child(117n+10) {
    transition-delay: 2.1s;
   }
   h1 > span:nth-child(117n+11) {
    transition-delay: 2.3s;
   }
   h1 > span:nth-child(117n+12) {
    transition-delay: 2.5s;
   }
   h1 > span:nth-child(13n+13) {
    transition-delay: 2.7s;
   }
   h1 > span:nth-child(117n+14) {
    transition-delay: 2.9s;
   }
   h1 > span:nth-child(117n+14) {
    transition-delay: 3.1s;
   }
   h1 > span:nth-child(117n+15) {
    transition-delay: 2.3s;
   }


/* header */
.logo{
    height: 10rem;
}
@media(max-width: 35rem) {
    h1 > span {
        font-size: 1.4rem;
       }
    .logo {
        height: 8rem;
    }
    .header__container {

        width: 100%;
      }
}

.icacie__info > h1{
    font-size: 2.5rem;
    text-align: center;
}
/**************************************************************/
/* .navbar is found in layout file */
.navbar__links{
    display: flex;

    margin: 0;
    padding: 0;
}

.navbar__links > li{
    list-style: none;
}
.navbar__links > li > a {
    text-decoration: none;
    color: whitesmoke;
    padding: .75rem;
    display: block;
}
.navbar__links > li:hover{
    background-color: var(--color-grey-dark);
    font-weight: bold;
}
.nav-item.active {
    color: var(--color-blue-dark-1);
    font-weight: bold;
    font-size: 1.6rem;
  }
/* Navbar_toggle__button */
.toggle__button{

    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
}
.toggle__button > .bar{
    height: 0.3rem;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}
.nav__button__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subnav > .nav__signin__container > button{
  background-color: var(--color-grey-dark);
  border-radius: .5rem;
}
  .subnav > .nav__signin__container > button > a  {
    text-decoration: none;
    color: white;
  }
  .subnav > .nav__signin__container > button:hover{
    background-color: var(--color-blue-dark-1);
    font-weight: bold;
}
.nav__signin__container{
    width: 30%;
    justify-content: space-between;
  }




/* mobile responsive navbar */
@media(max-width: 55rem) {
    .subnav{
        justify-content: none;
    }
    .nav__signin__container{
        width: 100%;
        justify-content: space-between;
      }
    .toggle__button {
        display: block;
        display: flex;
        position: relative;
        left: -45%;
    }
    .navbar__links {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 5.5rem;
    }
    .navbar__links{
        width: 100%;
        flex-direction: column;
    }
    .navbar__links > li{
        text-align: center;
    }
    .navbar__links > li > a {
        padding: .5rem .1rem;
    }
    .navbar__links.active{
        display: flex;
    }
}
/**************************************************************/
/* Signin */
.body____container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../images/signin.png") no-repeat ;
    /* background: url("../images/signin.jpg") no-repeat ; */
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
    z-index: -1;
}
@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg)
    }
}

.login__box{
    position: relative;
    width: 40rem;
    height: 45rem;
    background: transparent ;
    border: .2rem solid var(--color-grey-light);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5rem);
}

form > h2 {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
}

.input__box {
    position: relative;
    width: 30rem;
    margin: 3rem 0;
    border-bottom: .2rem solid whitesmoke;
}

.input__box > label {
    position: absolute;
    top: 50%;
    left: .5em;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: whitesmoke;
    pointer-events: none;
    transition: .5s;
}

.input__box > input:focus~label,
.input__box > input:valid~label {
    top: -.5rem;
}

.input__box > input {
    width: 100%;
    height: 5rem;
    background: transparent;
    border: none;
    outline: none;
    font-size:  1.6rem;
    color: whitesmoke;
    padding: 0 3.5rem 0 .5rem;
}

.input__box > .icon {
    position: absolute;
    right: .8rem;
    color: whitesmoke;
    font-size: 1.2rem;
    line-height: 5.7rem;
}

.remember__forgot {
    margin:  -1.2rem 0 1.5rem;
    font-size: 1.4rem;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.remember__forgot > label > input {
    margin-right: .3rem;
}

.remember__forgot > a {
    color: whitesmoke;
    text-decoration: none;
}

.remember__forgot > a:hover {
    text-decoration: underline;
   
}

.login__register__link {
    font-size: 1.4rem;
    color: whitesmoke;
    text-align: center;
    margin:  2.5rem 0 1rem;
}

.login__register__link > p > a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;

}
.login__register__link > p > a:hover {
    text-decoration: underline;
    color: var(--color-blue-light-1);
    font-weight: bold;
    font-size: 2rem;
}
.login__register__link > p:last-child {
   text-align: center;

}
.login__register__link > p:last-child > a {
    color: var(--color-blue-light-3);
    text-decoration: none;
    font-weight: 600;

}
.login__register__link > p:last-child > a:hover {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
}
.login__box_signup{
    height: 58rem;
}
/* mobile responsive sigin */
@media(max-width:36rem) {
    .login__box{
        width:100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .input__box{
        width: 29rem;
    }
}
/**************************************************************/
/* Home */
.icacie-info > h2{
 color: var(--color-blue-dark-1);
}
.home__welcome__img {
    width: 100%;
    height: 40rem;
}
.container__column > p {
    text-align: justify;
    padding: 1rem;
}
h2 > span {
    color: red;
}
p > span {
    font-weight: bold;
}


/* mobile responsive home */
@media(max-width: 55rem) {
    .container__column > p {
        text-align:left;
        padding: 1rem;
    }
    .home__welcome__img {
        width: 100%;
        height: 20rem;
    }
    h2 > span {
        font-size: 3rem;
    }
}
/**************************************************************/
/* callforpaper */

.callforpaper__img{
    height: 12rem;

}
.callforpaper__img1{
    width: 55%;
}
.callforpaper__img2{
    width: 45%;
}
.callforpaper__img3{
    width: 75%;
}
.callforpaper__img:hover {
        transform: translate(5rem)  ;
        transition: .3s;
}
/**************************************************************/
/* contact */
.container__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-blue-dark-2);
    flex-shrink: 1;

}
.container__contact2 {
    content: '';
    position: absolute;
    width: 29%;
    height: 100%;
    background-color: var(--color-blue-light-2);
    flex-shrink: 1;
}
.containerBox {
    display: flex;
    /* z-index: 1000; */
    width: 100%;
    min-height: 80%;
    z-index: 1;
}
.container__contact > .containerBox > .containerInfo {
    position: relative;
    width: 25rem;
    /* height: auto; */
    background-color: var(--color-blue-dark-2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:0 2rem 2rem rgb(0, 0, 0, 0.2);
    height: 70vh;
    margin-top: 3.5rem;
    margin-left: 5rem;
    z-index: 1;

}
.containerInfo  > h2 {
    color: whitesmoke;
    padding-bottom: 1rem ;
    
}
.container__contact > .containerBox > .containerInfo >.info {
    display: flex;
    flex-direction: column;
    /* margin:  0.5rem 0; */
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    list-style: none;
    padding: 1rem;
    
}

.container__contact > .containerBox > .containerInfo > .info > li {
    display: flex;
    align-items: flex-start;
}
.container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(2) {
    font-size: 1.4rem;
    padding: .2rem 0;
}
.container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(1) {
    width: .3rem;
    min-width: 3rem;
}
.container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(1) > img {
    max-width: 100%;
    filter: invert(1);
}

.container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(2) > a {
    color:white;
    margin-left: .1rem;
    opacity: .9; 
    text-decoration: none;
}
.container__contact > .containerBox > .containerInfo > .info > li:hover > span:nth-child(2) > a {
    color: var(--color-blue-light-1);
    opacity: 1;
    font-weight: bold;

}
.container__contact > .containerBox > .containerInfo  > .icons {
    display: flex;
    justify-content: space-between;
}
.container__contact > .containerBox > .containerInfo > .icons  > li  {
    list-style: none;
}
.container__contact > .containerBox > .containerInfo  > .icons > li > a {
    text-decoration: none;
}
.container__contact > .containerBox > .containerInfo  > .icons > li > a > img {
    filter:invert(1);
    width: 2rem;
}
/* mobile responsive contact for large device */
@media(max-width: 80rem) {
    .container__contact {
        height: auto;
    }
    .container__contact2 {
        display: none;
    }
    .container__contact > .containerBox > .containerInfo   {
        height: auto;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(2) {
        font-size: 1.8rem;
    }
    .container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(2)> a {
        font-size: 1.6rem;
    }

}

@media(max-width: 55rem) {
    .containerBox   {
        width: 100%;
        justify-content: center;
        flex-direction: column;

    }
    .container__contact > .containerBox > .containerInfo   {
        width: 100%;
        /* justify-content: center; */
        height: auto;
        align-items: center;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .container__contact > .containerBox > .containerInfo > .info   {
        width: 20rem;
    }
    .containerInfo  > h2 {
        /* font-size: 2rem; */
        padding-bottom: .5rem ;
        
    }
    
    .container__contact > .containerBox > .containerInfo > .info > li  {
        justify-content: space-between;
        /* font-size: 1rem; */
    }
    .container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(2)  {
        font-size: 1.4rem;
    }
    .container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(1) > img {
        width: 2rem;
    }
    .container__contact > .containerBox > .containerInfo>  .info > li:hover > span:nth-child(2) > a {
        opacity: 1;
        font-weight: bold;
    
    }
    .container__contact > .containerBox > .containerInfo  > .icons > li  {

        padding: 0 2rem;
    }
    .container__contact > .containerBox > .containerInfo  > .icons > li > a > img {
        min-width: 3rem;
    }
}
/* mobile responsive contact for small device */
@media(max-width: 25rem) {
    .container__contact > .containerBox > .containerInfo > .info   {
        width: 15rem;
    }
    .container__contact > .containerBox > .containerInfo > .info > li  {
        font-size: 1rem;
    }
    .container__contact > .containerBox > .containerInfo > .info > li > span:nth-child(2)> a {
        font-size: .9rem;
    }
    .container__contact > .containerBox > .containerInfo  > .icons > li  {

        padding: 0 .5rem;
    }
     
}


/* contactUs_Form */
.container__contact > .containerBox > .contactForm  {
    position: absolute;
    padding: .5em;
    background: white;
    width: 40%;
    height: 80vh;
    box-shadow:  0 5rem 5rem var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 22rem;
    
}


.container__contact > .containerBox > .contactForm > h2 {
    color: var(--color-blue-light-2);
    display: flex;
    justify-content: center;
    padding: 0rem;
    margin-top: -4rem;
    margin-left: -20rem;
}
.container__contact > .containerBox > .contactForm > .formBox {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 60rem;
    margin-left: 5rem;
    margin-top: -11rem;

    
}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox {
    padding: 3rem;
    width: 25rem;
    display: flex;
    font-size: 1.3rem;
    
}
.container__contact > .containerBox > .contactForm > .formBox  > .w50{
    max-width: 100%;
    max-height: 10rem;
    
}
.container__contact > .containerBox > .contactForm > .formBox  > .w100{
    height: 15rem;
}

.container__contact > .containerBox > .contactForm > .formBox > .inputBox > span{
    padding: 0.5rem 1rem;
    color:  var(--color-blue-dark-2);
    transition: 0.5s;
    pointer-events: none;
} 
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > span:nth-child(4), span:nth-child(5){
    position: absolute;
    left: 0;
    padding: .5rem 0;
    font-size: 1.3rem;
    color:  var(--color-blue-dark-2);
    transition: 0.5s;
    pointer-events: none;
}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > input,
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > textarea {
    width: 100% !important;
    height: 3rem;
    padding: 1rem;
    border: none ;
    border-bottom: .3rem solid var(--color-grey-dark);
    outline: none;
}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > textarea {
    min-height: 100%;
}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > span {
    position: absolute;
}

.container__contact > .containerBox > .contactForm > .formBox > .inputBox > input:focus ~ span,
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > input:valid ~ span {
    transform: translateY(-2.5rem);
    letter-spacing: .1rem;
    color: var(--color-blue-dark-1);
    font-weight: bold;
}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > textarea:focus ~ span,
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > textarea:valid ~ span {
    transform: translateY(-3rem);
    letter-spacing: .1rem;
    color: var(--color-blue-dark-1);
    font-weight: bold;
}

.container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(4) > input:focus ~ span,
.container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(4)  > input:valid ~ span,
.container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(6) > input:focus ~ span,
.container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(6)  > input:valid ~ span {
    transform: translateY(-4.5rem);

}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > input[type="submit"] {
    /* position: relative; */
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.container__contact > .containerBox > .contactForm > .formBox > .inputBox > .w100:nth-child(8){
    display: flex;
    flex-direction: column;

}
/* mobile responsive contactus_form for large device */
@media(max-width: 80rem) {
    .container__contact > .containerBox > .contactForm  {
        width: 100%;    
        height: auto;
        position: relative;
        margin-left: -3rem;
    }
    .container__contact > .containerBox > .contactForm  > h2{
        margin-left: 2rem;
        margin-top: 0rem;
    }
    .container__contact > .containerBox > .contactForm > .formBox {
        width: 90%;
        margin-left: 3rem;
        margin-bottom: 5rem;
        margin-top: 0rem;
    }
} @media(max-width: 65rem) {
    .container__contact > .containerBox > .contactForm > .formBox {
        width: 90%;
        margin-left: 2rem;
        margin-top: 0rem;

    }
} 
@media(max-width: 55rem) {
    .container__contact > .containerBox > .contactForm  {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 0rem;
        
        
    }
    .container__contact > .containerBox > .contactForm > .formBox {
        width: 90%;
        margin-left: 12rem;
    }
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > span{

        padding: 0.5rem 1rem;

    } 
    
    .container__contact > .containerBox > .contactForm > .formBox {
        /* width: 80%; */
        margin-right: 10rem;

    }
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox {
        padding:  1rem;
        width: 30rem;
        height: 9rem;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        text-align: left;
        margin-left: -2rem;
    }
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > span{
        font-size: 1.3rem;
    } 
}
/* mobile responsive contactus_form for small device */
@media(max-width: 25rem) {
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox {
        /* position: relative; */
        /* margin: .5rem 0 7rem 0; */
        padding: 1rem;
    }
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > span{
        font-size: 1rem;
    } 
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > input:focus ~ span,
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > input:valid ~ span {
        transform: translateY(-2rem);

    }
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > textarea:focus ~ span,
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox > textarea:valid ~ span {
        transform: translateY(-2.5rem);

    }

    .container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(4) > input:focus ~ span,
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(4)  > input:valid ~ span {
        transform: translateY(-4.5rem);
    }
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(6) > input:focus ~ span,
    .container__contact > .containerBox > .contactForm > .formBox > .inputBox:nth-child(6)  > input:valid ~ span {
        transform: translateY(-4rem);
    }
}

/**************************************************************/
/* Keynotes */
.card__container{
    width: 80%;
    margin: 2rem auto;
}
.card{
    background-color: white;
    box-shadow: 0 0 2.5rem var(--color-grey-light);
}
.card__image{
    height: 35rem;
    width: 25rem;
    overflow: hidden;
}
.card__image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.keynote__names,.card__content {
    padding: 2rem;
}
@media screen and (min-width : 90rem) {
    .card{
        display: flex;
        height: 35rem;
        overflow: hidden;
    }
    .card__image{
        height: auto;
        flex: 1;
    }
    .card__content {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .keynote__names {
        height: 35rem;
        width: 25rem;
        overflow: hidden;
    }
}

/* keynote_blog */
.keynote__container {
    width: 100%;
    max-width: 125rem;
    margin: 0 auto;
}
.keynote__image {
    max-width: 120rem;
    height: 50rem;
    background: url("../images/Keynote/Keynote_image.png") no-repeat center center / cover ;
    /* margin: 1rem auto; */
}
.keynote__main {
    width: 100%;
    max-width: 100rem;
    background-color: var(--color-blue-light-2);
    margin:  0 auto;
    padding: 3rem;
    border-radius: 0 0 1.5rem;
    margin-top: -10rem;
}
.keynote__main > h2{
  text-transform: uppercase;
  letter-spacing: .5rem;
}
.keynote__main > .profile__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}
.keynote__main > .profile__container > .profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.keynote__main > .profile__container > .profile > img{
  height: 15rem;
  width: 15rem;
  background: no-repeat center center / cover ;
  /* margin: 1rem auto; */
  border-radius: .5rem;
  object-fit: cover;

}
.keynote__main > .profile__container > .profile > .text{
    margin: 0 1rem;
    color: var(--color-grey-dark);
    letter-spacing: .1rem;
}
.profile > .text > h3 {
    text-transform: uppercase;
}
.keynote__main > .keynote__content, blockquote  {
    text-align: justify;
}
.keynote__main > .keynote__content > p {
    margin: 1rem 0;
    color: var(--color-grey-dark);
}
.keynote__main > .keynote__content > h4 {
    color: var(--color-dark);
}
.keynote__main > .keynote__content > h4 > span{
    font-size: 2rem;
    color: var(--color-dark);
}
blockquote {
    font-size: 1.4rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 var(--color-blue-dark-2);
    background-color: var(--color-blue-light-3);
}
blockquote > span {
    font-size: 1.6rem;
    font-weight: bold;
}
.keynote__main > .keynote__content > a {
    /* font-size: 1.6rem; */
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
    /* font-weight: bold; */
}
.keynote__main > .keynote__content > a:hover {
    font-size: 1.8rem;
    padding: 1rem 1rem;
    font-weight: bold;
}
@media(max-width: 55rem) {
    .keynote__main > .profile__container > .profile {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin: 0 1rem; 
    }
    .keynote__main > .profile__container > .profile > img {
        margin: 0 1rem; 
    }
}
/**************************************************************/
/* Add CSS styles here */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  .image-container {
    width: 30%;
    height: 300px; /* fixed height */
    margin: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
  }
  .image-container img {
    width: 100%;
    height: 100%; /* set height to 100% to maintain aspect ratio */
    object-fit: cover; /* adjust the image to fit the container */
    object-position: center; /* center the image within the container */
    transition: all 0.3s ease;
  }
  .image-container:hover img {
    transform: scale(1.1);
  }
  .image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .image-container:hover .image-title {
    opacity: 1;
  }

  /* Media queries for responsiveness */
  @media only screen and (max-width: 768px) {
    .image-container {
      width: 40%;
    }
  }
  @media only screen and (max-width: 500px) {
    .gallery {
      flex-direction: column;
    }
    .image-container {
      width: 80%;
      margin: 10px auto;
    }
  }
/* Gallery */
.gallery__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 4rem 2rem 0rem 2rem;
}
.gallery__container > .gallery__heading{
    width: 50%;
    padding-bottom: 5rem;

}
.gallery__container > .gallery__heading > h3{
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 1rem;
    border-bottom:  .3rem solid var(--color-grey-dark);
}
.gallery__container > .gallery__heading > h3 > span{
    font-weight: 100;
}
/* mobile responsive gallery */
@media only screen and (max-width: 70rem) {
    .gallery__container > .box { 
        flex-direction: column;
    }
    .gallery__container > .box > .gallery__image {
        width: 100%;
    }
}
@media only screen and (max-width: 60rem) {
    .gallery__container > .gallery__heading{
        width: 80%;
    
    }
    .gallery__container > .gallery__heading > h3{
        font-size: 1rem;
        border-bottom:  .3rem solid var(--color-grey-dark);
    }
}


/**************************************************************/
/* committee */
.committee__container {
    width: 100%;
    max-width: 125rem;
    margin: 0 auto;
}
.committee__image {
    max-width: 120rem;
    height: 50rem;
    background: url("../images/Committee.png") no-repeat center center / cover ;
    /* margin: 1rem auto; */
}
.committee__main {
    width: 100%;
    background-color: var(--color-blue-light-2);
    margin:  0 auto;
    padding: 3rem;
    border-radius: .5rem;
}
.committee__main > h2{
  text-transform: uppercase;
  letter-spacing: .5rem;
}
.committee__main > .text{
    margin: 0 1rem;
    color: var(--color-grey-dark);
    letter-spacing: .1rem;
}
.profile > .text > h3 {
    text-transform: uppercase;
}
.committee__main > blockquote {
    text-align: justify;
    font-size: 1.4rem;
    padding: 1rem 1rem;
    margin: 1rem 5rem;
    width: 70%;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.3rem 0 0 var(--color-blue-dark-2);
    border-bottom: .3rem solid var(--color-blue-dark-2);
    background-color: var(--color-blue-light-1);
}

.committee__main > blockquote > ul > li > span {
    font-size: 1.6rem;
    font-weight: bold;
}

@media(max-width: 55rem) {
    .committee__main > blockquote {
        text-align:unset;
        font-size: 1rem;
        padding: 1rem 1rem;
        margin: .5rem 2rem;
        width: 85%;
        line-height: 1.6;
    }
    .committee__main > blockquote > ul> li  {
        margin-left: -2.5rem;
    }
    .committee__main >blockquote > ul > li > span,li {
        font-size: 1rem;
    }
    .committee__main > .text{
        margin: 0rem .5rem;
        color: var(--color-grey-dark);
        letter-spacing: .1rem;
    }
}
@media(max-width: 25rem) {
    .committee__main > blockquote {
        text-align: left;
        font-size: .1rem;
        /* padding: 0.5rem 0.1rem;   */
        margin: 1rem 1rem;
        width: 85%;
        /* line-height: 1.2; */
    }
    .committee__main > blockquote > ul > li , span {
        font-size: .8rem;
    }
    .committee__main > h2{
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 1.2rem;
      }

}

 
/**************************************************************/
/* Travel */
.travel__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.travel__container > .travel__image  {
    width: 100%;
    height: 50vh;
    

 }
 .travel__container > .travel__image > img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
 }
 .travel__container2 {
    position: relative;
    bottom: 5rem;
  }
  /* Style the cards */
  .travel__container > .travel__card {
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    align-items: center;
    box-shadow: 0 4px 8px 0 var(--color-grey-light);
    transition: 0.3s;
  }
  /* Add an image to the cards */
  .travel__container > .travel__card > img {
    width: 100%;
    height: 80% ;
    object-fit: cover;
  }
   /* Add a button to the cards */
   .travel__container > .travel__card > button {
    background-color: var(--color-blue-light-1);
    color: white;
    /* padding: 10px 20px; */
    border: none;
    cursor: pointer;
    width: 100%;
  }
  /* Change the background color of the cards on hover */
  .travel__container > .travel__card:hover {
    box-shadow: 0 8px 16px 0 var(--color-blue-light-3);
  }
  .travel__section >  {
    display: flex;
    flex-direction: column;
  }
  .travel__section > .travel__content{
    align-items: center;
  }
  .travel__section > .travel__content> h3 {
    font-size: 2.4rem;
    text-align: center;
  }
  .travel__section > .travel__content> h4 {
    text-align: center;
    padding: 2rem 0 0 0;
  }

.travel__section > .travel__content> .line2 {
    position: relative;
    background-color: var(--color-grey-light);
    left: 33%;
    width: 30rem;
}
.travel__section > .travel__content> .h3_header {
    font-size: 3rem;
}
.travel__section > .travel__content> h5 {
    font-size: 1.6rem;
    color: red;
    font-weight: bold;
}
    
/* Responsive layout - reduces the size of the cards on smaller screens */
@media (max-width: 60rem) {
    .travel__section > .travel__content> .line2 {
        left: 23%;
        width: 20rem;
    }
.travel__container2 {
    position: relative;
    }
.travel__container > .travel__card {
    width: 12rem;
    height: 14rem;
        }
.travel__section > .travel__content> h4 >a {
    font-size: 1.4rem;
    }
}
  /* slideshow-container */
.slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides,.mySlides1 {
  display: none;
 
}
.mySlides > img, .mySlides1 > img{
  width: 100%;
  height: 25rem;
  border-radius: .5rem;
}

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  @media (max-width: 60rem) {
    .mySlides > img, .mySlides1 > img{
        width: 100%;
        height: 80%;
      }
    .mySlides > img{
        width: 100%;
        height: 25%;
      }
      .prev, .next {
        padding: .5rem;

      }
  }
  /* Travel Infomation */
.travel__content > .p_bold {
    font-weight: bolder;
}
h5 > span {
    font-weight: bolder;
    color: var(--color-dark);
}
P > a {
    text-decoration: none;
    color: var(--color-blue-dark-2);
    padding: 1rem 1rem;
}
p > a:hover {
    font-size: 1.8rem;
    padding: 1rem 1rem;
    font-weight: bold;
}
h4 > a {
    text-decoration: none;
    color: var(--color-blue-light-2);
    padding: 1rem 1rem;
}
h4 > a:hover {
    font-size: 1.8rem;
    padding: 1rem 1rem;
    font-weight: bold;
}
@media (max-width: 60rem) {
h4 > a {
    font-size: 1rem;
    flex-wrap: wrap;
    }
}
/* sightseeing */
.sightseeing__card {
    width: 25rem;
    height: 35rem;
    margin: 1rem;
    background-color: white;
    border: .5px solid var(--color-grey-light);
    box-shadow: .2rem .2rem .3rem var(--color-dark);
    margin-bottom: 4rem;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }
  
  .sightseeing__card:hover {
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
    transform: translateY(-1rem);
  }
  
  .sightseeing__card > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  
  .sightseeing__card:hover > img {
    transform: scale(1.1);
  }
  
  .sightseeing__card > h2 {
    padding:.5rem;
    margin: 0;
    font-size: 1.4rem;
  }
  .sightseeing__card > p {
    text-align: center;
    margin-top: -1rem;
    font-size: 1.2rem;
    color: #555;
  }
  
  .sightseeing__card > button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1rem;
    background-color: var(--color-dark);
    color: white;
    border: none;
    border-radius: .5rem;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .sightseeing__card > button > a {
    text-decoration: none;
    color: white;
  }
  
  .sightseeing__card button:hover {
    background-color: var(--color-blue-dark-1);
  }
  .travel__container > button > a {
    font-size: 1.8rem;
    padding: 2rem 2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
  }
  .btn > a {
    text-decoration: none;
    color: white;
    padding: 2rem;
  }
  
  .btn:hover {
    background-color: var(--color-blue-dark-1);
    box-shadow: .2rem .2rem .3rem var(--color-blue-light-2);
  }

  /********************************************* */
/*    SEARCH    */
  
.search {
    /* background-color: greenyellow; */
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  0 1rem;
  }
  .search__input {
    color: white;

    background-color: var(--color-grey-dark);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: .5rem;
    width: 90%;
    transition: all .4s;

    margin-right: -3rem;
  }
  ::placeholder {
    color: white;
  }

  .search__input:focus {
    width:100%;

    outline: 1px solid var(--color-blue-light-3);
  }
  .search__button {
    border: none;
    border-radius: .5rem;
    background-color: var(--colour-grey-light);
    cursor: pointer;
    color: white;
  }

  .search__button:active{
    transform: translateY(2px);
  }
  @media(max-width: 55rem) {
    .search {
        flex: 0 0 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  0 2rem;
      }
} 
/* ************************************************************ */
/* sponsor */
.sponsor__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsor__container > h3 {
    font-size: 2.4rem;
    text-align: center;
  }
  .sponsor__container > .h3_header {
    font-size: 3rem;
}
  .sponsor__card {
        width: 35rem;
        height: auto;
        background-color: #f2f2f2;
        margin: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        text-align: center;
        padding: 20px;
      }
      .sponsor__card > h1 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .sponsor__card > p {
        font-size: 1.4rem;
        margin-bottom: 20px;
        text-align: justify;
      }
      .sponsor__card  > ul {
        padding: 1.4rem;
      }
      .sponsor__card  > ul > li {
        font-size: 1.2rem;
        text-align: left;
      }
      .sponsor__card > .h5 {
        font-size: 1.8rem;
        /* margin-bottom: 20px; */
        color: #ff0000;
        text-align: center;
        font-weight: bold;
      }
      .sponsor__container > .sponsor__card  > .center {
        text-align: center;
      }
     h3 > a {
        color: var(--color-grey-light);
      }
     h3 > a:hover {
        color: var(--color-);
      }
/* ************************************************************ */
.line3 {
    width: 100%;
    height: .1rem;
    border: 0 none;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-grey-light);
}
/* footer */
.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
    background-color:var(--color-dark);

}
.footer > .footer__content  > .icons {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.footer > .footer__content> .icons  > li  {
    list-style: none;
}
.footer> .footer__content  > .icons > li > a {
    text-decoration: none;
}
.footer > .footer__content > .icons > li > a > img {
    filter:invert(1);
    width: 1.5rem;
}
.footer_bottom    {
    padding: .5rem;
    background-color: #111;
}
.footer_bottom > p  {
    font-size: 1.2rem;
    word-spacing: .2rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
    text-align: center;
}
@media(max-width: 55rem) {
    .footer > .footer__content  > .icons {
        width: 80%;
    }
} 
  